h1{
    display: inline-block;
}

body{
    background-color: rgb(85, 85, 85);
}

div.card{
    padding: 20px;
    text-align: center;
    width: 30%;
    height: 90%;
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 20px 30px;
    margin: 0 auto;
}

.phone{
    text-align: left;
}
.relations{
    text-align: left;
    float: left;
}
.address{
    text-align: left;
}
hr{
    background-color: grey;
    height: 1px;
}

.button{
    /* border: 0px; */
    border-radius: 5%;
    position: relative;
    top:0;
    font-size: large;
    /* box-shadow: 1px 1px 1px; */
    transition: width .5s;
}

.button:hover{
    box-shadow: 1px 2px 3px;
    top:-3px;
}