.grid-container {
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    grid-gap: 5%;
    background-color: #c3c3c3;
    padding: 10px;
    width: 20%;
}
.grid-column1{
    width:100%;
}

button.new_contact{
    float: right;
    position: relative;
    top:0;
    font-size: large;
    transition: width .5s;
}

button.new_contact:hover{
    box-shadow: 1px 2px 3px;
    top:-3px;
}

body {
    padding: 10px;
    background-color:   #c3c3c3;
    text-align: center;
}

p {
    border: 2px;
    border-color: black;
    border-radius: 2px;
}

div.card {
    color: black;
    display: grid;
    grid-column: auto;
    font-size: larger;
    position: relative;
    top:0;
    /* border: 1px solid black; */
    border-radius: 5%;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: 1px 2px #616161;
    background-color: #e2e2e2;
}

div.card:hover{
    top: -10px;
    box-shadow: 4px 7px 12px 4px  #616161;
}

img{
    margin-left: 37%;
    border: 1px solid black;
    width: 25%;
}